
body{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.navbar .menu a{
    margin: 0 0.9rem;
    text-decoration: none;
    border-bottom: none;
    color: #0b0757;
    font-family: inherit;
    font-weight: 600;
}

.navbar .menu .custom-btn{
    background-color: #fdd76e;
    padding: 0.3rem 1rem;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    font-weight: unset;
    transition: ease 0.5s;
}

.navbar .menu .custom-btn:hover{
    background-color: #0b0757;
    color: white;
}
/*
 Section 2
 */

.header .text-slider {
    margin-top: 4rem;
}

.header .text-slider .slide-item .mutate {
    font-size: 14px;
    padding: 0.5rem 1rem;
    background-color: #fdd76e;
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: #0b0757;
}

.header .text-slider .slide-item .big-text {
    color: #0b0757;
    font-weight: 700;
    font-size: 3rem;
}

.header .text-slider .slide-item .small-text{
    color: #8480ae;
    font-size: 1.25rem;
}

.header .text-slider .slide-item .btn-primary{
    background-color: #0b0757;
    color: #ffffff;
    border: none;
    display: inline-block;
    border-radius: 4px;
    padding: 0 1.75rem;
    font-size: 14px;
    height: 49px;
    line-height: 49px;
    text-transform: uppercase;
    font-weight: 500;
}

.header .button-group {
    display: flex;
    flex-direction: row;
}

.header .button-group div {
    margin-top: 1rem;
    width: 60px;
    height: 60px;
    background-color: #0b0757;
    border-radius: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header .button-group .arrow-left {
    margin-right: 1rem;
}
